@model HomeVM
@{
    Layout = null;
    ViewData["Title"] = "Index";
}
<h1>Home index page</h1>
<ul>
    @{
        int num = 12;
        for (int i = 0; i < num; i++)
        {
            <li>@i</li>
        }
    }
</ul>
<h1>Name: @ViewData["name"]</h1>
<h1>Age: @ViewBag.age</h1>
<h1>Age(ViewData): @ViewData["age"]</h1>
<h1>Address: @TempData["address"]</h1>
=============================
<ul>
    @foreach (var student in Model.Students)
    {
        <li>
            <p>Student ID: @student.Id</p>
            <p>Student Name: @student.Name</p>
            <p>Group Name: @Model.GroupName</p>

        </li>
    }
    <li>
        <p>Specific Student Name: @Model.Student.Name</p>
    </li>
</ul>